::-webkit-input-placeholder { /* Edge */
  color: #ffffff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #ffffff;
}