<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css" />

  <title>Entity Explore</title>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js"></script>
  <script src="build/ols-autocomplete.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"
    integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/ols-colors.css" type="text/css" />
  <link rel="stylesheet" href="../css/ols.css" type="text/css" />
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../css/typeaheadjs.css" type="text/css" />
</head>

<body>
  <div class="container" id="container">
    <div class="mx-auto" style="width: 200px; margin-top: 50px; margin-bottom: 0px;">
      <label for="inputEntity" class="sr-only">Entity</label>
      <input v-model="entity" type="Entity" class="form-control" id="inputEntity" placeholder="Entity: i.e. DOID:2841"
        autocomplete="on" data-olswidget="select" data-olsontology="doid,go"
        data-selectpath="https://www.ebi.ac.uk/ols/" olstype="" class="ac_input" />
      <!--  -->
      <div id="examples">
        <a href="#" class="badge badge-light" @click="getAsthmaExample()">Asthma</a>
        <a href="#" class="badge badge-light" @click="getOtherExample()">GO:0002206</a>
      </div>
      <div class="mx-auto text-center">
        <button class="btn btn-primary mb-2" style="margin-top: 10px;" @click="getMentions()">
          Get papers
        </button>
      </div>
    </div>

    <div id="papers_list">
      <ul class="list-group list-group-flush">
        <li v-for="paper in papers" class="list-group-item">
          <ul style="list-style-type:none">
            <li><a href="#">{{ paper.info.title }}</a></li>
            <li>{{ paper.info.id }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Optional JavaScript -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      var app = require("ols-autocomplete");
      var instance = new app();
      instance.start()
    });
  </script>
  <script src="scripts.js"></script>
</body>

</html>